

:root{
  --complementary-color: #673ab7;
  --light-gray: #f5f5f5;
  --radius: .3em;
  --global-transition: .3s;
  --container-shadow: 0px 0px 20px 0px #00000040;
  --call-to-action: rgb(255, 255, 0);
  --light-border: solid 1px rgb(205, 205, 205);
}

button{
  cursor:pointer;
}

#root{
  height:100vh;
  display: flex;
  padding-top:1em;
  align-items:center;
  justify-content:center;
  background: var(--complementary-color);
}

.App{
  width:60%;
  max-width:45em;
}

header{
  box-shadow: var(--container-shadow);
  padding:.5em 3em;
  padding-top:2em;
  padding-bottom:2em;
  background:var(--light-gray);
}
nav{
  padding:1em inherit;
  display:flex;
  justify-content:space-between;
  align-items:center;
  border-radius:var(--radius);
}
.darkmode__toggler{
  background: black;
  width: 2.5em;
  border-radius:30em;
  cursor:pointer;
  overflow:hidden;
  /* border:solid 1px black; */
}

.darkmode__toggler > div{
  content:"";
  display:block;
  background: white;
  width:1.5em;
  height:1.5em;
  border-radius:inherit;
  border:solid 2px black;
  position:relative;
  transition: var(--global-transition);
  /* overflow:hidden; */
  /* transition:4s; */
}

.darkmode__toggler > div:after{
  content:"";
  display:block;
  height: 100%;
  width:100%;
  position:absolute;
  background:black;
  border-radius:inherit;
  margin-left:40%;
  transform-origin: right;
  transition: var(--global-transition);
}

.darkmode__toggler.dark > div {
  margin-left: calc(2em - 1.05em);
  background-color:yellow;
}

.darkmode__toggler.dark > div:after{
  /* background-color:; */
  transform: scale(0);
}


nav section:first-child{
  font-size:20px;
  font-weight:bold;
  /* color:white; */
  text-transform:uppercase;
}

nav section:last-child{
  display:flex;
  justify-content:center;
  align-items:center;
}

nav button{
  margin-left:1em;
  padding:.5em 2em;
  background-color: var(--call-to-action);
  color:blackwhite;
  font-weight:bolder;
  border:none;
  border-radius:var(--radius);
  cursor:pointer;
}
nav button:active{
  background-color:black;
  color:white;
}

.search{
  display:flex;
  align-items:center;
  /* box-shadow: var(--container-shadow); */
  margin-top:1em;
  background:white;
  position:relative;
  /* justify-content:center; */
}

.search .search__bar{
  width:100%;
  display:flex;
  align-items:center;
  /* padding:.0em .5em; */
}

.search .search__bar input{
  width:inherit;
  padding:.9em 1em;
  border:var(--light-border) ;
  border-radius:var(--radius);
  /* background:rgb(208, 208, 208); */
}

.search .search__button{
  position:absolute;
  right:.25em;
  margin-top:-.05em;
  border:none;
  height: calc(100% - .5em );
  width:7em;
  /* border:solid 4px var(--light-gray); */
  background:var(--complementary-color);
  color:white;
}

.todos{
  background: white;
  padding:1em 0;
  padding-top:0;
  padding-bottom:0;
  margin-top:2.5em;
  border: var(--light-border);
}
.todo__header{
  border-bottom:var(--light-border);
  padding:1em 1em;
  display:flex;
  justify-content: space-between;
  align-items:center;
}
.todo__header button{
  border:none;
  padding:1em 2em;
  background: var(--complementary-color);
  color:white;
  border-radius: var(--radius);
}

.todo__header section:first-child button:last-child{
  margin-left:1em;
}
.todo__header section:first-child button{
  background:gray;
  padding:1em .5em;
  color:white;
  /* font-weight:bolder; */
  font-size:.7rem;
}
.todo__header section:first-child button:hover{
  text-decoration:underline;
}

.todo__data{
  padding:0px 1em;
}

.todo{
  padding:1em 1em;
  border-bottom:var(--light-border);
  font-size:15px;
  display: flex;
  flex-flow: center;
  align-items:center;
}

.todo__checkbox{
  height:1em;
  width:1em;
  border:var(--light-border);
}

.todo section:last-child{
  margin-left: auto;
}

.todo section:nth-child(2){
  padding-left:1em;
  display:flex;
  justify-content:center;
  align-items: center;
  position:relative;
}

.todo__active_indicator{
  height:.8em;
  width:.8em;
  border-radius:100%;
  background:var(--complementary-color);
  position:absolute;
  left:.5em;
}

.todo section.deactivate .todo__active_indicator{
  background:red;
}

.todo section:nth-child(2) label{
  padding-left:1em;
  cursor: pointer;
  transform:translateY(-.2em);
}

.todo section:nth-child(2).deactivate label{
  text-decoration: line-through;
}

.todo:last-child{
  border-bottom:none;
}

.create_todo{
  display:flex;
  justify-content: center;
}

.overlay{
  height: 100vh;
  position:fixed;
  top:0;
  left:0;
  z-index:5;
  width:100%;
  background:rgba(10, 10, 10, 0.456);
  transition:var(--global-transition);
  /* backdrop-filter: blur(2px); */
}

.create_todo .create__form{
  width:40%;
  background: white;
  padding:2em;
  position:absolute;
  z-index:64;
  top:0;
  border-radius: .3em;
  transform:translateY(0em);
  transition: .5s;
  transition-delay:0;
  opacity: 1;
}

.create_todo.hide .create__form{
  transform: translateY(-16em);
}

.create_todo.hide{
  opacity: 0;
  pointer-events:none;
}

.create__form > div{
  /* display:flex; */
  flex-flow:column;
  padding:.5em 0;
}

.create__form > div input,
.create__form > div textarea{
  padding:.6em .5em;
  margin-top:.5em;
  resize:none;
  width:100%;
}

div > p{
  font-size:13px;
}

.create__form button{
  padding:.8em  1.6em;
  border-radius:.3em;
  background:var(--complementary-color);
  border:none;
  color:white;
  cursor:pointer;
  /* font-family: poppins; */
}


.txt{
  display:flex;
  align-items: center;
}

.txt p{
  padding-left:.7em;
}