

:root{
  --complementary-color: #1890ff;
  --light-gray: #f2f2f2;
  --radius: .3em;
  --global-transition: .3s;
  --container-shadow: 0px 0px 12px 0px #0000002b;
}


#root{
  height:100vh;
  display: flex;
  padding-top:1em;
  /* align-items:center; */
  justify-content:center;
  background-color:var(--light-gray);
}

.App{
  width:60%;
  max-width:80em;
}

header{
  box-shadow: var(--container-shadow);
  padding:.5em 3em;
  padding-top:2em;
  background:white;
}
nav{
  padding:1em inherit;
  display:flex;
  justify-content:space-between;
  align-items:center;
  border-radius:var(--radius);
}
.darkmode__toggler{
  background: black;
  width: 2.5em;
  border-radius:30em;
  cursor:pointer;
  overflow:hidden;
  /* border:solid 1px black; */
}

.darkmode__toggler > div{
  content:"";
  display:block;
  background: white;
  width:1.5em;
  height:1.5em;
  border-radius:inherit;
  border:solid 2px black;
  position:relative;
  transition: var(--global-transition);
  /* overflow:hidden; */
  /* transition:4s; */
}

.darkmode__toggler > div:after{
  content:"";
  display:block;
  height: 100%;
  width:100%;
  position:absolute;
  background:black;
  border-radius:inherit;
  margin-left:40%;
  transform-origin: right;
  transition: var(--global-transition);
}

.darkmode__toggler.dark > div {
  margin-left: calc(2em - 1.05em);
}

.darkmode__toggler.dark > div:after{
  /* background-color:; */
  transform: scale(0);
}


nav section:first-child{
  font-size:20px;
  font-weight:bold;
  /* color:white; */
  text-transform:uppercase;
}

nav section:last-child{
  display:flex;
  justify-content:center;
  align-items:center;
}

nav button{
  margin-left:1em;
  padding:.5em 2em;
  background-color: var(--complementary-color);
  color:white;
  font-weight:bolder;
  border:none;
  border-radius:var(--radius);
  cursor:pointer;
}

.search{
  display:flex;
  align-items:center;
  /* box-shadow: var(--container-shadow); */
  margin-top:1em;
  background:white;
  position:relative;
  /* justify-content:center; */
}

.search .search__bar{
  width:100%;
  display:flex;
  align-items:center;
  /* padding:.0em .5em; */
}

.search .search__bar input{
  width:inherit;
  padding:.7em 1em;
  border:none;
  border-radius:var(--radius);
  background:var(--light-gray);
}

.search .search__button{
  position:absolute;
  right:0em;
  height:100%;
  width:7em;
  border:solid 4px var(--light-gray);
  background:var(--complementary-color);
  color:white;
}