
#root{
  height:100vh;
  display: flex;
  padding-top:1em;
  /* align-items:center; */
  justify-content:center;
}

.App{
  width:60%;
  max-width:80em;
}

nav{
  padding:1em 3em;
  display:flex;
  justify-content:space-between;
  align-items:center;
  background:rgb(227, 227, 227);
}
.darkmode__toggler{
  background:rgb(150, 150, 150);
  width: 2em;
  border-radius:30em;
  border:solid 1px black;
}

.darkmode__toggler:after{
  content:"";
  display:block;
  background:black;
  width:50%;
  height:1em;
  border-radius:inherit;
  /* transition:4s; */
}

.darkmode__toggler.active:after {
  margin-left: 100%;
}

nav section:first-child{
  font-size:20px;
  font-weight:bold;
  /* color:white; */
  text-transform:uppercase;
}

nav section:last-child{
  display:flex;
  justify-content:center;
  align-items:center;
}

nav button{
  margin-left:1em;
  padding:.5em 2em;
  background:rgb(0, 26, 255);
  color:white;
  font-weight:bolder;
  border:solid .2em black;
}