*{
  margin:0;
  padding:0;
}

body{
  width:100%;
  height:100vh; 
  display:flex;
  justify-content: center;
  /* align-items:center; */
  background-color: rgb(255, 226, 255);
}

.App {
  background-color:white;
  width:38em;
}