*{
  margin:0;
  padding:0;
}

.App{
  height:100vh;
  display:flex;
  flex-flow:Column;
  justify-content: center;
  align-items:center;
  background-color:rgb(176, 49, 208);
}

.App form{
  display:flex;
  flex-flow:column;
  justify-content:center;
  background:white;
  padding:6em 3em;
  border-radius:.2em;
  box-shadow:3px 2px 20px 0px #00000057;
}
form > *{
  margin-top:.6em;
}

form input:not([type="checkbox"]){
  padding:.6em .4em;
  border-radius: .3em;
  border:none;
  border:solid 1px rgb(220, 220, 220);
}

form button{
  padding:.6em 0;
  border-radius:.3em;
  border:none;
  background:rgb(254, 229, 4);
  cursor:pointer;
}
form button:active{
  background:rgb(254, 108, 4);
}

form label{
  font-size:10px;
  padding-left:.2em;
  padding-bottom:.2em;
}

form > div{
  display:flex;
  align-items:center;
}